//Mixins
@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
}

html,
body,
.root,
.App {
  margin: 0em;
  height: 100vh;
  font-size: 100%;
  box-sizing: border-box;
}

textarea,
select,
input,
button {
  outline: none;
}

ul {
  overflow: auto;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  overflow: hidden;
  list-style: none;
  box-sizing: border-box;
  cursor: pointer;
}

button {
  cursor: pointer;
}
