.App {
  @include flexContainer(row);
  > div {
    @include flexContainer(column);
  }

  .side-bar {
    flex: 1;
    > li:last-child {
      margin: auto 0;
    }
    ul {
      @include flexContainer(column);
      flex: 1;
      justify-content: flex-start;
    }
  }

  .preview-list {
    flex: 2;
    div {
      @include flexContainer(row);
      justify-content: flex-end;
      align-items: center;
    }
    ul {
      @include flexContainer(column);
      flex: 1;
      li {
        flex: 1 1 0;
      }
    }
  }

  .current-note {
    flex: 5;
    form {
      @include flexContainer(row);
      input[type="text"] {
        flex: 1 1 auto;
      }
    }
    .button-container {
      @include flexContainer(row);
      justify-content: flex-end;
    }
    .text-area-container {
      @include flexContainer(column);
      flex: 1;
      textarea {
        flex: 1;
      }
    }
  }
}
